apiVersion: v1
kind: Config
clusters:
- name: my-cluster
  cluster:
    server: {{ kube_api_server }}
    certificate-authority-data: {{ kube_ca_data }}
contexts:
- name: {{ kube_user }}@my-cluster
  context:
    cluster: my-cluster
    user: {{ kube_user }}
current-context: {{ kube_user }}@my-cluster
users:
- name: {{ kube_user }}
  user:
    token: {{ kube_sa_token }}

